pkgbase = vale-bin
	pkgdesc = A customizable, syntax-aware linter for prose
	pkgver = 2.9.1
	pkgrel = 1
	url = https://github.com/errata-ai/vale
	arch = x86_64
	license = MIT
	provides = vale
	conflicts = vale
	source = vale-2.9.1-bin.tar.gz::https://github.com/errata-ai/vale/releases/download/v2.9.1/vale_2.9.1_Linux_64-bit.tar.gz
	source = vale-2.9.1_LICENSE::https://raw.githubusercontent.com/errata-ai/vale/v2.9.1/LICENSE
	source = vale-2.9.1_README.md::https://raw.githubusercontent.com/errata-ai/vale/v2.9.1/README.md
	sha256sums = 24f8795fd38cf482afe607ec53fd7ce3e0c8672674cb670e756626252aeb8aee
	sha256sums = fd994e305c72265851786dba088f3b76c05d2a8b62d6359257c0bd7d0defaa69
	sha256sums = e4c8647bdfdcb20c1d39df4101efcc90d145e84b735bac64929a6d85494852a7

pkgname = vale-bin

