pkgbase = vale-bin
	pkgdesc = A customizable, syntax-aware linter for prose
	pkgver = 2.8.0
	pkgrel = 1
	url = https://github.com/errata-ai/vale
	arch = x86_64
	license = MIT
	provides = vale
	conflicts = vale
	source = vale-2.8.0-bin.tar.gz::https://github.com/errata-ai/vale/releases/download/v2.8.0/vale_2.8.0_Linux_64-bit.tar.gz
	source = vale-2.8.0_LICENSE::https://raw.githubusercontent.com/errata-ai/vale/v2.8.0/LICENSE
	source = vale-2.8.0_README.md::https://raw.githubusercontent.com/errata-ai/vale/v2.8.0/README.md
	sha256sums = ac6270a8a8febb918fb989ff37d61a8784d384e36bfba98c73ba5e5b5556e8d5
	sha256sums = fd994e305c72265851786dba088f3b76c05d2a8b62d6359257c0bd7d0defaa69
	sha256sums = e4c8647bdfdcb20c1d39df4101efcc90d145e84b735bac64929a6d85494852a7

pkgname = vale-bin

